<section class="cart-section">

    <div class="title-section">
        <h1 class="title">Carrito de {{ truncate user.displayName 28 }}</h1>
        <div class="image-div">
            <img class="user-image" src="{{ user.image }}" alt="imagen">
        </div>
    </div>

    <form action="/auth/logout" method="GET" class="logout-form">
        <button class="logout">
            Cerrar Sesión
        </button>
    </form>

    <br>
    <div class="divider"></div>
    <div class="warning">
        <img src="/images/website/warning-icon.png" alt="alerta" style="width: 15px; height: 15px; min-width: 15px; min-height: 15px; opacity: 0.5; margin-right: 20px">
        <small>Prana está establecido en Playa del Carmen, si quieres comprar un articulo y vives afuera de Playa del Carmen, contáctenos para discutir el precio del envío.</small>
    </div>
    <br>


    <div class="grid-container">
        {{#each items}}
            <div class="grid-item" data-item-id='{{ _id }}'>

                <div class="grid-item-second">

                    <div class="grid-first">
                        <div class="dark-area"></div>
                        
                        <img class="item-image" src="{{ image }}" alt="imagen">

                        
                        <form action="/articulos/carrito/{{ _id }}" method="POST">
                            <input type="hidden" name="_method" value="PUT">

                            <div class="menu-container">
                                
                                <div class="menu" id="{{ _id }}">

                                    <div class="menu-grid">
                                        <div class="menu-grid-finish">
                                            <h1>Elige un acabado:</h1>
                                            <br>
                                            <div class="finish-container">
                                                {{#if (checkEqual currentFinish 'original')}}
                                                    <label class="finish-label">
                                                        <input type="radio" value="original" name="finish" id="finish-id" checked>
                                                        <div class="finish-img-container">
                                                            <img class="finish-img" src="/images/website/no-finish-icon.png" alt="original">
                                                        </div>
                                                    </label>
                                                    {{#each finishes}}
                                                        {{#if ../isExtra}}
                                                            <label class="finish-label">
                                                                <input type="radio" value="{{ name }}" name="finish" id="finish-id">
                                                                <div class="finish-img-container">
                                                                    <img src="/images/website/extra-icon.png" class="extra" alt="+20%">
                                                                    <img class="finish-img" src="{{ image }}" alt="{{ name }}">
                                                                </div>
                                                            </label>
                                                        {{else}}
                                                            <label class="finish-label">
                                                                <input type="radio" value="{{ name }}" name="finish" id="finish-id" >
                                                                <div class="finish-img-container">
                                                                    <img class="finish-img" src="{{ image }}" alt="{{ name }}">
                                                                </div>
                                                            </label>
                                                        {{/if}}
                                                    {{/each}}
                                                {{else}}
                                                    <label class="finish-label">
                                                        <input type="radio" value="original" name="finish" id="finish-id">
                                                        <div class="finish-img-container">
                                                            <img class="finish-img" src="/images/website/no-finish-icon.png" alt="original">
                                                        </div>
                                                    </label>
                                                    {{#each finishes}}
                                                        {{#if (checkEqual ../currentFinish name )}}
                                                            {{#if ../isExtra}}
                                                                <label class="finish-label">
                                                                    <input type="radio" value="{{ name }}" name="finish" id="finish-id" checked>
                                                                    <div class="finish-img-container">
                                                                        <img src="/images/website/extra-icon.png" class="extra" alt="+20%">
                                                                        <img class="finish-img" src="{{ image }}" alt="{{ name }}">
                                                                    </div>
                                                                </label>
                                                            {{else}}
                                                                <label class="finish-label">
                                                                    <input type="radio" value="{{ name }}" name="finish" id="finish-id" checked>
                                                                    <div class="finish-img-container">
                                                                        <img class="finish-img" src="{{ image }}" alt="{{ name }}">
                                                                    </div>
                                                                </label>
                                                            {{/if}}
                                                        {{else}}
                                                            {{#if ../isExtra}}
                                                                <label class="finish-label">
                                                                    <input type="radio" value="{{ name }}" name="finish" id="finish-id">
                                                                    <div class="finish-img-container">
                                                                        <img src="/images/website/extra-icon.png" class="extra" alt="+20%">
                                                                        <img class="finish-img" src="{{ image }}" alt="{{ name }}">
                                                                    </div>
                                                                </label>
                                                            {{else}}
                                                                <label class="finish-label">
                                                                    <input type="radio" value="{{ name }}" name="finish" id="finish-id" >
                                                                    <div class="finish-img-container">
                                                                        <img class="finish-img" src="{{ image }}" alt="{{ name }}">
                                                                    </div>
                                                                </label>
                                                            {{/if}}
                                                        {{/if}}
                                                    {{/each}}
                                                {{/if}}

                                            </div>
                                            
                                            <br>
                                            <div class="divider"></div>                                
                                        </div>
                                        


                                        <div class="menu-grid-buy">
                                            <br>
                                            <h1>Elige una cantidad:</h1>
                                            <br>

                                            <input onchange="quantityChanged(event, {{ inStock }})" data-qty-id="{{ _id }}" style="width: 40%;" class="input-select" value="{{ qty }}" type="number" name="itemQty" id="item-qty">
                                        
                                            <div class="save-buttons">
                                                <button class="save" value="{{ _id }}" type="submit">
                                                    <h2 style="font-weight: 500;">Guardar</h2>
                                                </button>
                                                <button class="cancel-button" type="button">
                                                    <h2>Cancelar</h2>
                                                </button>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </form>

                        <div class="divider" style="margin: 5px 0 20px;"></div>
                        <div class="item-grid" style="grid-template-rows: 58% 42%; height: 400px; padding: 10px;">
                            <div>
                                <h3 class="item-property"><b>Nombre: </b>{{ name }}</h3>
                                <h4 class="item-property"><b>Precio: </b>${{ price }}</h4>
                                <h4 class="item-property"><b>Medidas: </b>{{ measurments }}</h4>
                                <h4 class="item-property"><b>En Stock: </b>{{ inStock }}</h4>
                            </div>

                            <div class="edit-button" value="{{ _id }}">
                                <h3 style="margin-bottom: 10px; align-self: center;"><b>Tu Compra</b></h3>

                                <h4 class="item-property">Cantidad: <span class="quantity-el" data-quantity-id="{{ _id }}">{{ qty }}</span></h4>
                                <h4 class="item-property">Acabado: {{ currentFinish }}</h4>
                            </div>
                        </div>

                        <div class="divider"></div>
                        
                    </div>

                    <div class="grid-second">

                        <form class="btn-section" action="/articulos/carrito/{{ _id }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">

                            <button name="buyNow" class="buy-now-button" data-my-item-id="{{ _id }}" type="button">
                                <h1 class="dollar">Comprar Ahora</h1>
                            </button>
        
                            <button type="submit" class="delete-button">
                                <img src="/images/website/trash-icon.png" class="icon" alt="trash">
                            </button>

                        </form>

                    </div>
                
                </div>

            </div>       

        {{/each}}
    </div>

    <div class="purchase-container">
        <div class="purchase-section">

            <h1 class="purchase-title">Total ( {{ cartLength }} ): <b> ${{ total }}</b></h1>

            <button class="btn-purchase"><h2 style="font-weight: 500;">Comprar</h3></button>

        </div>
    </div>

</section>

<script>

    let buttons = document.querySelectorAll('.edit-button');

    for (let btn of buttons) {

        btn.addEventListener('click', function() {

            const divId = this.getAttribute('value');
            
            let menuDiv = document.getElementById(divId);

            menuDiv.classList.toggle('visible');


            const gridItem = document.querySelector(`[data-item-id~="${divId}"]`);


            const darkArea = gridItem.querySelector('.dark-area');
            const cancelButton = gridItem.querySelector('.cancel-button');

            darkArea.classList.toggle('dark');

            darkArea.addEventListener('click', function() {

                menuDiv.classList.remove('visible');
                darkArea.classList.remove('dark');

            });

            cancelButton.addEventListener('click', function() {

                menuDiv.classList.remove('visible');
                darkArea.classList.remove('dark');

            });

        });
    }

    function quantityChanged(event, stock) {
        const input = event.target;

        if (isNaN(input.value) || input.value <= 0){
            input.value = 1;
        }

        if (input.value > stock) {
            input.value = stock;
        }
    }

</script>